.card__paragraph {
  font-size: 1rem;
  color: var(--neutral-slightly-transparent-white-main);
  line-height: 1.6;
}

@media screen and (min-width: 0) {
  .card__paragraph {
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .card__paragraph {
    padding: 0;
    margin-top: 2rem;
    margin-bottom: auto;
  }
}
