.card__detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

@media screen and (min-width: 0) {
  .card__detail {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .card__detail {
    grid-column: 1/1;
    grid-row: 1/1;

    padding-right: 7rem;
    padding-left: 3rem;
  }
}
